.git
.github
.next
node_modules
npm-debug.log*
test-results
playwright-report
coverage
tmp
temp

.env
.env.*
env-abon-SETUP.txt
secrets
dokumenty/secrets

android
android-apk
ios
George.app
src-tauri
